.weather-list {
    width: 100%;
    height: calc(50% - 70px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem 0;
}

.weather-list .weather-card {
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .weather-list {
        flex-wrap: wrap;
        height: fit-content;
    }

    .weather-list .weather-card {
        width: calc(100% / 3);
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 991px) {
    .weather-list {
        justify-content: flex-start
    }

    .weather-list .weather-card {
        width: calc(100% / 2);
    }

}
  
  @media screen and (max-width: 767px) {
    .weather-list .weather-card {
        width: 100%;
    }
  }
  /* /MEDIA QUERY */