.m-container {
  max-width: 1080px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--contrast);
}

.welcome-page, .error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  height: 100vh;
}

.error-page {
  background-color: var(--contrast);
}

.error-page h3, .welcome-page h3 {
  text-align: center;
  color: var(--contrast);
}

.welcome-page h1 {
  margin-bottom: 2rem;
  color: var(--contrast);
  font-size: 4rem;
}

.welcome-page .search-bar {
  height: unset;
}

.welcome-page .search-bar input, 
.welcome-page .search-bar button {
  height: 60px;
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 2rem;
}

.welcome-page .search-bar button {
  width: 20%;
  padding: 0;
}

/*style per component aggiunta e gestione lista città preferite*/
.location-list .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--details);
}

.location-list .list-item:last-child {
  border-bottom: none;
}

.location-list .list-item .delete:hover{
  cursor: pointer;
}

form input.location-form {
  border-radius: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
}
/*end style per component aggiunta e gestione lista città preferite*/

/*media query*/
@media screen and (max-width: 1024px) {
  .m-container {
    height: fit-content;
    margin: 0;
  }

  .welcome-page h1 {
    font-size: 2rem;
  }

  .welcome-page .search-bar input, 
  .welcome-page .search-bar button {
    height: 50px;
    border: none;
    padding: 10px;
    font-size: unset;
  }
}