.m-container {
  max-width: 1080px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--contrast);
}

.welcome-page, .error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  height: 100vh;
}

.error-page {
  background-color: var(--contrast);
}

.error-page h3, .welcome-page h3 {
  text-align: center;
  color: var(--contrast);
}

.welcome-page h1 {
  margin-bottom: 3rem;
  color: var(--contrast);
}

.welcome-page .search-bar {
  height: unset;
}

.welcome-page .search-bar input, 
.welcome-page .search-bar button {
  height: 100px;
  width: 100%;
  border: none;
  padding: 30px;
  font-size: 3rem;
}

.welcome-page .search-bar button {
  width: 20%;
  padding: 0;
}


@media screen and (max-width: 1024px) {
  .m-container {
    height: fit-content;
    margin: 0;
  }

  .welcome-page h1 {
    font-size: 2rem;
  }

  .welcome-page .search-bar input, 
  .welcome-page .search-bar button {
    height: 50px;
    border: none;
    padding: 10px;
    font-size: unset;
  }
}