/***************
styling generico
***************/
:root {
  --primary: #1b317c;
  /* --secondary: #41d3bd; */
  --secondary: #bbbdf6;
  --secondary: #f1dac4;
  --secondary: #99d5c9;
  /* --details: #fcdebe; */
  --details: #131200;
  --details: #eee;
  --contrast: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

body {
  background-color: var(--details);
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.wmy-1 {
  margin: 0.5rem 0;
}

.wmt-1 {
  margin-top: 0.5rem;
}

.wmb-2 {
  margin-bottom: 1.5rem;
}

.wmt-2 {
  margin-top: 1.5rem;
}

.card-box-shadow {
  box-shadow: 0px 0px 16px 2px rgba(33, 33, 33, 0.1);
  -webkit-box-shadow: 0px 0px 16px 2px rgba(33, 33, 33, 0.1);
  -moz-box-shadow: 0px 0px 16px 2px rgba(33, 33, 33, 0.1);
}

/*media query*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}
